<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.9rem;
  }

  .custom-logo {
    height: 55px; 
    width: 55px; 
    border-radius: 50%; 
    
    transition: transform 0.3s;
  }
  
  .custom-logo:hover {
    transform: scale(1.1);
  }
  
</style>

<nav
  class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-light"
>
  <div class="container-fluid bg-light">
    <a class="navbar-brand" href="/listings">
      <img 
        src="https://i.pinimg.com/736x/2b/81/a8/2b81a830e7be62b2437a493d2867c3d8.jpg" 
        alt="Logo" 
        class="custom-logo"
      />
    </a>
    
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search destinations"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
        <a class="nav-link active" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %> <% if (currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

